In [17]:
import gpxpy 
import gpxpy.gpx 
import pandas as pd
import plotly_express as px

In [18]:
gpx_file = open('../data/raw/ORSRoutes/ors-route.gpx', 'r')

In [5]:
gpx_file

In [6]:
gpx = gpxpy.parse(gpx_file)

 for track in gpx.tracks: 
    for segment in track.segments: 
        for point in segment.points: 
            print 'Point at ({0},{1}) -> {2}'.format(point.latitude, point.longitude, point.elevation)

In [7]:
lat=[]
lon=[]

for track in gpx.tracks: 
    for segment in track.segments: 
        for point in segment.points: 
            #print 'Point at ({0},{1})'.format(point.latitude, point.longitude) 
            lat.append(point.latitude)
            lon.append(point.longitude)
print(lat, lon)

[48.861109, 48.861313, 48.861326, 48.861389, 48.861487, 48.861528, 48.861724, 48.861762, 48.861804, 48.861899, 48.862078, 48.862382, 48.862463, 48.862598, 48.862611, 48.862649, 48.862685, 48.86298, 48.863384, 48.863407, 48.863437, 48.863696, 48.863729, 48.863027, 48.862911, 48.862798, 48.862697, 48.862599, 48.862315, 48.862237, 48.862187, 48.862116, 48.862052, 48.862027, 48.861974, 48.860966, 48.860949, 48.860926, 48.860727, 48.860647, 48.860531, 48.860484, 48.860458, 48.859725, 48.85937, 48.858679, 48.85824, 48.85787, 48.857845, 48.857828, 48.857798, 48.857701, 48.857693, 48.85764, 48.857556, 48.857564, 48.857569, 48.857554, 48.857314, 48.856641, 48.856504, 48.85616, 48.855854, 48.855276, 48.854929, 48.854681, 48.854601, 48.853302, 48.853242, 48.853169, 48.852868, 48.852844, 48.852695, 48.852394, 48.852281, 48.851135, 48.850552, 48.850515, 48.850397, 48.85032, 48.849116, 48.849093, 48.849141, 48.849173, 48.849209, 48.849282, 48.849316, 48.849333, 48.849361, 48.849387, 48.849397, 48.849426, 48.849433, 48.849444, 48.849442, 48.849426, 48.849412, 48.849393, 48.849343, 48.849288, 48.849239, 48.849196, 48.849124, 48.84905, 48.849028, 48.848916, 48.848699, 48.848565, 48.848522, 48.848364, 48.848303, 48.848174, 48.84812, 48.848112, 48.848044, 48.847974, 48.847955, 48.847891, 48.847888, 48.847821, 48.847819, 48.84773, 48.847291, 48.847288, 48.847209, 48.846494, 48.846458, 48.845192, 48.845109, 48.845063, 48.844988, 48.844892, 48.84484, 48.84483, 48.844825, 48.844799, 48.84478, 48.844793, 48.844828, 48.844869, 48.84488, 48.844907, 48.844879, 48.844733, 48.844702, 48.844692, 48.844691, 48.844669, 48.84465, 48.844641, 48.844387, 48.844301, 48.844298, 48.844287, 48.844281, 48.844278, 48.844268, 48.844173, 48.844103, 48.844089, 48.844068, 48.843995, 48.84397, 48.843957, 48.843938, 48.84392, 48.843839, 48.843815, 48.843813, 48.843804, 48.843791, 48.843778, 48.843745, 48.84373, 48.843617, 48.843652, 48.843622, 48.843661, 48.843646, 48.843642, 48.84364, 48.843629, 48.843604, 48.843681, 48.843829, 48.843846, 48.843907, 48.843932, 48.84392, 48.843923, 48.844767, 48.844862, 48.844822, 48.844616, 48.844464, 48.844405, 48.844395, 48.844392] [2.366123, 2.364678, 2.364594, 2.364598, 2.364603, 2.364699, 2.365158, 2.365248, 2.365345, 2.365568, 2.365988, 2.366702, 2.366891, 2.367196, 2.367225, 2.367312, 2.367404, 2.36815, 2.369185, 2.369245, 2.36932, 2.369964, 2.37004, 2.371217, 2.371413, 2.371602, 2.371772, 2.371938, 2.372417, 2.372547, 2.372631, 2.372751, 2.372858, 2.372898, 2.372981, 2.374674, 2.374702, 2.374742, 2.375066, 2.375197, 2.375392, 2.375468, 2.37551, 2.376768, 2.377361, 2.378509, 2.379264, 2.379879, 2.379921, 2.379911, 2.379891, 2.379906, 2.379922, 2.380015, 2.380165, 2.380364, 2.380384, 2.380408, 2.380796, 2.381932, 2.382168, 2.382741, 2.383253, 2.384228, 2.384809, 2.385213, 2.385345, 2.387522, 2.387621, 2.387744, 2.388247, 2.388289, 2.388538, 2.389044, 2.389231, 2.391151, 2.392128, 2.39219, 2.392387, 2.392518, 2.394581, 2.394733, 2.394799, 2.39485, 2.39491, 2.395064, 2.395154, 2.395205, 2.395305, 2.3954, 2.395437, 2.395617, 2.395662, 2.395863, 2.395978, 2.396202, 2.3963, 2.396388, 2.396579, 2.396734, 2.396854, 2.396935, 2.397058, 2.397158, 2.397185, 2.397299, 2.397444, 2.397492, 2.397505, 2.397449, 2.397428, 2.397405, 2.397383, 2.397463, 2.39743, 2.397391, 2.397624, 2.398291, 2.398322, 2.398964, 2.398977, 2.398974, 2.398892, 2.398926, 2.398957, 2.400004, 2.400056, 2.401923, 2.402046, 2.401993, 2.401958, 2.401982, 2.402034, 2.402049, 2.40206, 2.402115, 2.402287, 2.402361, 2.402444, 2.402495, 2.402614, 2.402901, 2.403211, 2.405028, 2.405358, 2.405448, 2.405466, 2.405727, 2.40593, 2.406029, 2.409003, 2.410002, 2.41004, 2.410175, 2.410275, 2.410325, 2.41044, 2.410633, 2.411461, 2.411631, 2.411882, 2.412737, 2.412961, 2.413073, 2.41328, 2.413483, 2.414389, 2.414448, 2.414483, 2.414611, 2.414751, 2.414895, 2.4153, 2.415474, 2.416819, 2.416934, 2.417364, 2.417644, 2.417803, 2.417843, 2.417871, 2.418009, 2.41832, 2.418493, 2.418802, 2.418838, 2.418966, 2.419026, 2.419066, 2.419109, 2.42087, 2.420989, 2.421074, 2.421484, 2.421796, 2.421913, 2.421932, 2.421938]

In [8]:
df = pd.DataFrame(list(zip(lat,lon)), columns = ['lat','lon'])
df

           lat       lon
0    48.861109  2.366123
1    48.861313  2.364678
2    48.861326  2.364594
3    48.861389  2.364598
4    48.861487  2.364603
..         ...       ...
193  48.844616  2.421484
194  48.844464  2.421796
195  48.844405  2.421913
196  48.844395  2.421932
197  48.844392  2.421938

[198 rows x 2 columns]

In [20]:
time_file = "../data/raw/ORSRoutes/time"
time = pd.read_csv(time_file)

In [21]:
df['time'] =time

In [22]:
df["id"] = 1

In [23]:
df

           lat       lon                 time  id
0    48.861109  2.366123  2014-09-17 05:09:23   1
1    48.861313  2.364678  2014-09-17 05:09:34   1
2    48.861326  2.364594  2014-09-17 05:09:44   1
3    48.861389  2.364598  2014-09-17 05:09:55   1
4    48.861487  2.364603  2014-09-17 05:10:05   1
..         ...       ...                  ...  ..
193  48.844616  2.421484                  NaN   1
194  48.844464  2.421796                  NaN   1
195  48.844405  2.421913                  NaN   1
196  48.844395  2.421932                  NaN   1
197  48.844392  2.421938                  NaN   1

[198 rows x 4 columns]

In [24]:
#affichier les points GPS sur une carte
px.set_mapbox_access_token("pk.eyJ1Ijoic2hha2Fzb20iLCJhIjoiY2plMWg1NGFpMXZ5NjJxbjhlM2ttN3AwbiJ9.RtGYHmreKiyBfHuElgYq_w")
import plotly.express as px
fig = px.scatter_mapbox(
        df, 
        lat="lat", 
        lon="lon",
        
        mapbox_style="carto-positron"
)

fig.show(renderer="iframe")

In [16]:
fig_3 = px.scatter_mapbox(
    df, 
    lat="lat", 
    lon="lon", 
    color="id", 
    size="id", 
    animation_frame="time", 
    size_max=10, 
    zoom=12, 
    width=1200, 
    height=800
)
fig_3.show(renderer="iframe")